.sobre {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.sobre-left {
    flex-basis: 40%;  
    position: relative;  
}

.sobre-right {
    flex-basis: 56%;
}

.sobre-img {
    width: 100%;
    border-radius: 10px;
}

.play-icon {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.sobre h3 {
    font-weight: 600;
    font-size: 16px;
    color: #212ea0;
}

.sobre h2 {
    font-size: 35px;
    color: #000f38;
    margin: 10px 0;
    max-width: 400px;
}

.sobre p {
    color: #676767;
    margin-bottom: 15px;
}

/* ------------ media query ------------ */

@media (max-width: 800px) {
    .sobre {
        flex-direction: column;
        /* flex-direction: column-reverse; */
    }
    .sobre-left {
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .sobre-right {
        flex-basis: 100%;
    }
}