.cursos {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.curso img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.curso {
    flex-basis: 31%;
    position: relative;
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: #fff;
    opacity: 0;
    padding-top: 70%;
    transition: .4s;
    text-align: center;
}

.caption img {
    width: 60px;
    margin-bottom: 10px;
}

.curso:hover .caption {
    opacity: 1;
    padding: 0;
}

/* ------------ media query ------------ */

@media (max-width: 650px) {
    .cursos {
        flex-direction: column;
    }
    .curso {
        flex-basis: 100%;
        margin: 20px;
    }
}